
html {
  font-family: "Babbel milliard", Times, serif;
}

h1 {
  font-style: medium;
  font-size:18px;
}

#item {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 24px;

}
#instructionInput {
  font-style: semibold;
  font-size: 16px;
  
}

#inputvalue {
  font-style: book;
  font-size: 24px;
}

/*skip links*/
.skip-links{
  margin:0;
  padding:0;
  list-style-type: none;

}
.skip-links a{
  position:absolute;
  top: -3em;
}

.skip-links a:focus{
  left:42%;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 0.75em 0.75em;
  font-weight: bold;



}

/**@resets button border */ 
.image-button{
	padding: 0;
	border: none;
	background: none;
}  

/*styling of overlay*/
.btn-primary {
	color: #f8f9fa;
	background-color: rgba(255,136,41,1);
	border-color:rgba(255,136,41,1);
}

.btn-primary:hover {
	background-color: rgb(236, 124, 31);
	border-color:rgb(236, 124, 31);
}

.btn-primary:disabled {
	background-color: gray;
	border-color:gray;
	cursor: not-allowed;
}

.left{
	float:left;
}

/* the bubble element, added inside the toggletip live region */

.toggletip-container {
	position: relative;
	margin: 20px auto;
}
  
.toggletip-bubble {
	font-size: 14px;
	position: absolute;
	left: -20%;
	top: 30px;
	width: 10em;
	padding: 0.5rem;
	background: #f8f6b4;
	color: #000;
}

.row-submit {
	margin: 40px auto;
	justify-content: center;
}




.feedback-sheet {
	position: fixed;
	display: none;
	width: 100%;
	height: 150px;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	border-style: outset;
	border-top-color: rgba(190,206,221,0.4);
	z-index: 2;
	cursor: pointer;
	padding: 20px;
}

.feedback-sheet-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
}

.feedback-sheet-text {
	width: 60%;
}
.feedback-sheet-buttons {
	width: 40%;
}

.feedback-sheet-buttons > div {
	display: inline-flex;
	margin-right: 20px;
}

.feedback-sheet-text {
	text-align: left !important;
}