
html {
  font-family: "Babbel milliard", Times, serif;
}

h1 {
  font-style: medium;
  font-size:18px;
}

#item {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 24px;

}
#instructionInput {
  font-style: semibold;
  font-size: 16px;
  
}

#inputvalue {
  font-style: book;
  font-size: 24px;
}

/*skip links*/
.skip-links{
  margin:0;
  padding:0;
  list-style-type: none;

}
.skip-links a{
  position:absolute;
  top: -3em;
}

.skip-links a:focus{
  left:42%;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 0.75em 0.75em;
  font-weight: bold;



}

/**@resets button border */ 
.image-button{
    padding: 0;
    border: none;
    background: none;
}  


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 20%;
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    border-style: outset;
    border-top-color: rgba(190,206,221,0.4);
   
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  /*styling of overlay*/
  .color-button{
    color: #f8f9fa;
    background-color: rgba(255,136,41,1);
    border-color:rgba(255,136,41,1);
    
  }
  .left{

    float:left;
  }

    /* the bubble element, added inside the toggletip live region */
  .toggletip-container {
    position: relative;
    display: inline-block;
  }
  

  
  .toggletip-bubble {
    font-style: Book;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 10em;
    padding: 0.5rem;
    background: #f8f6b4;
    color: #000;
  }
  
  
 